<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naos.Build.Analyzers" version="1.55.17" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.10" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.15" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.28" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>
