<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Conditions" version="2.1.0" targetFramework="net461" />
  <package id="Dapper" version="1.50.1" targetFramework="net461" />
  <package id="Its.Log" version="2.9.13" targetFramework="net461" />
  <package id="System.Data.Common" version="4.1.0" targetFramework="net461" />
  <package id="System.Xml.XmlDocument" version="4.0.1" targetFramework="net461" />
</packages>