<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naos.Bootstrapper.Recipes.Core" version="1.0.41" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Bootstrapper.Recipes.Core.Assembly" version="1.0.41" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Bootstrapper.Recipes.Domain" version="1.0.41" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Build.Analyzers" version="1.55.44" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Build.Properties.ProjectInfo" version="1.55.44" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.CodeAnalysis.Recipes.SuppressBecause" version="1.0.126" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Protocol.Domain" version="1.0.74" targetFramework="net462" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.17" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.CodeAnalysis.Recipes.SuppressBecause" version="1.0.7" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Collection.Recipes.EnumerableExtensions" version="1.0.46" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.22" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Representation.System" version="1.0.55" targetFramework="net462" />
  <package id="OBeautifulCode.String.Recipes.StringExtensions" version="1.0.47" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type" version="1.0.71" targetFramework="net462" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.71" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>