<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.11.0" targetFramework="net462" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net462" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net462" />
  <package id="CLAP" version="4.6" targetFramework="net462" />
  <package id="FakeItEasy" version="6.0.0" targetFramework="net462" />
  <package id="Fare" version="2.1.2" targetFramework="net462" />
  <package id="Its.Log" version="2.9.14" targetFramework="net462" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net462" />
  <package id="Naos.Bootstrapper.Recipes.Core" version="1.0.46" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Bootstrapper.Recipes.Core.Console" version="1.0.46" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Bootstrapper.Recipes.Core.Test" version="1.0.46" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Bootstrapper.Recipes.Domain.Test" version="1.0.46" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Build.Analyzers" version="1.55.51" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Build.Properties.ProjectInfo" version="1.55.51" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.CodeAnalysis.Recipes.SuppressBecause" version="1.0.128" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Configuration.Domain" version="1.0.22" targetFramework="net462" />
  <package id="Naos.Diagnostics.Domain" version="1.3.37" targetFramework="net462" />
  <package id="Naos.Diagnostics.Recipes.DomainFactory" version="1.3.37" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Diagnostics.Recipes.MachineMemory" version="1.3.37" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Diagnostics.Recipes.MachineName" version="1.3.37" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Diagnostics.Recipes.PerformanceCounter" version="1.3.37" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Diagnostics.Recipes.Process" version="1.3.27" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Logging.Domain" version="1.0.74" targetFramework="net462" />
  <package id="Naos.Logging.Persistence" version="1.0.74" targetFramework="net462" />
  <package id="Naos.Protocol.Domain" version="1.0.96" targetFramework="net462" />
  <package id="Naos.Protocol.Recipes.DummyFactory" version="1.0.96" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Protocol.Serialization.Bson" version="1.0.96" targetFramework="net462" />
  <package id="Naos.Protocol.Serialization.Json" version="1.0.96" targetFramework="net462" />
  <package id="Naos.Telemetry.Domain" version="1.0.26" targetFramework="net462" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.28" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.AutoFakeItEasy" version="1.0.132" targetFramework="net462" />
  <package id="OBeautifulCode.CodeAnalysis.Recipes.SuppressBecause" version="1.0.14" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.CodeGen.ModelObject.Recipes.TestScenarios" version="1.0.150" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Collection.Recipes.EnumerableExtensions" version="1.0.48" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Compression" version="1.0.20" targetFramework="net462" />
  <package id="OBeautifulCode.Compression.Recipes.CompressionHelper" version="1.0.20" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Compression.Recipes.DummyFactory" version="1.0.20" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Enum.Recipes.EnumExtensions" version="1.0.24" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.23" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Math.Recipes.ThreadSafeRandom" version="1.0.77" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Process.Recipes.ProcessHelper" version="1.0.10" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Reflection.Recipes.AppDomainHelper" version="1.0.110" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Reflection.Recipes.AssemblyHelper" version="1.0.110" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Reflection.Recipes.ReflectionHelper" version="1.0.110" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Representation.System" version="1.0.57" targetFramework="net462" />
  <package id="OBeautifulCode.Representation.System.Recipes.DummyFactory" version="1.0.57" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Serialization" version="1.0.104" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization.Bson" version="1.0.104" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization.Json" version="1.0.104" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization.PropertyBag" version="1.0.104" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization.Recipes.DummyFactory" version="1.0.104" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Serialization.Recipes.Factory" version="1.0.104" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Serialization.Recipes.RoundtripSerializationExtensions" version="1.0.104" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.String.Recipes.StringExtensions" version="1.0.55" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type" version="1.0.78" targetFramework="net462" />
  <package id="OBeautifulCode.Type.Recipes.DummyFactory" version="1.0.78" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.78" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
  <package id="xunit" version="2.4.1" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net462" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net462" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net462" />
  <package id="xunit.core" version="2.4.1" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net462" />
  <package id="xunit.runner.utility" version="2.4.1" targetFramework="net462" />
</packages>