<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Its.Configuration" version="1.0.5" targetFramework="net45" />
  <package id="Its.Log" version="2.9.11" targetFramework="net45" />
  <package id="Naos.Cron" version="1.0.10" targetFramework="net461" />
  <package id="Naos.Diagnostics.Domain" version="1.0.2" targetFramework="net461" />
  <package id="Naos.FileJanitor.MessageBus.Contract" version="1.0.67-csharp4dot6andnewmes" targetFramework="net461" />
  <package id="Naos.MessageBus.Domain" version="1.0.158-addseparatejobtracki" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
</packages>