<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="1.6.2" targetFramework="net462" allowedVersions="[1.6.2]" />
  <package id="FluentMigrator.Runner" version="1.6.2" targetFramework="net462" allowedVersions="[1.6.2]" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="140.17283.0" targetFramework="net462" />
  <package id="Naos.Build.Analyzers" version="1.55.17" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Recipes.Dapper" version="1.42.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Recipes.RunWithRetry" version="1.0.120" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.10" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.15" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.28" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>
