<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naos.Build.Analyzers" version="1.55.0" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Recipes.Dapper" version="1.42.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Recipes.RunWithRetry" version="1.0.114" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Validation.Recipes.ParameterValidator" version="1.0.21" targetFramework="net462" developmentDependency="true" />
  <package id="Spritely.Recipes.SecureString" version="1.0.2" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.1.0.47" targetFramework="net462" developmentDependency="true" />
</packages>